@import 'colors'

$bgcolor: rgba(0, 0, 0, 0);

* {
  all: unset;
}

.indicator {
    font-size: 1.1em;
    font-weight: bold;
}

.indicator-box {
    border-radius: 10px;
    padding-bottom: 5px; // a bit hacky because the baseline of the symbols is weird and GTK doesn't support enough CSS to change that
    background-color: $bgcolor;
}

.end-default-notification-box {
  background-color: $end-default-bg;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
}

.notification-text {
  color: $end-default-fg;
  font-family: 'FantasqueSansM Nerd Font Mono';
}

.notification-title {
  font-weight: bold;
  font-size: 1em;
}

.notification-content {
  font-size: .8em;
}

.battery-icon {
  color: $red;
  font-size: 2.1em;
  margin-right: 48px;
  margin-left: 24px;
}
