$bgcolor: rgba(0, 0, 0, 0);

* {
  all: unset;
}

.indicator-text {
    font-family: Victor Mono;
    font-size: 2.8em;
    color: #e7dba0 // #f2ecbc; //#c9cbd1;
}

.indicator-box {
    margin-top: -18px;
    margin-bottom: -4px;
    border-radius: 10px;
    background-color: $bgcolor;
}
